service: newrelic-lambda-layers-python-example

provider:
  name: aws
  stage: prod
  region: us-east-1
  stackTags:
    environment: us-testing
    owning_team: LAMBDA
    product: aws-lambda
  tags:
    environment: us-testing
    owning_team: LAMBDA
    product: aws-lambda

plugins:
  - serverless-newrelic-lambda-layers

custom:
  newRelic:
    accountId: ${env:NEW_RELIC_ACCOUNT_ID}
    apiKey: ${env:NEW_RELIC_PERSONAL_API_KEY}
    
    debug: true

functions:
  
  layer-python38:
    handler: handler.handler
    package:
      exclude:
        - ./**
      include:
        - handler.py
    runtime: python3.8

  layer-python39:
    handler: handler.handler
    package:
      exclude:
        - ./**
      include:
        - handler.py
    runtime: python3.9

  layer-python310:
    handler: handler.handler
    package:
      exclude:
        - ./**
      include:
        - handler.py
    runtime: python3.10

  layer-python311:
    handler: handler.handler
    package:
      exclude:
        - ./**
      include:
        - handler.py
    runtime: python3.11

  layer-python312:
    handler: handler.handler
    package:
      exclude:
        - ./**
      include:
        - handler.py
    runtime: python3.12
  
  layer-python313:
    handler: handler.handler
    package:
      exclude:
        - ./**
      include:
        - handler.py
    runtime: python3.13

  layer-python314:
    handler: handler.handler
    package:
      exclude:
        - ./**
      include:
        - handler.py
    runtime: python3.14
